html {
  background-color: hsl(0, 0%, 86%);
}

body {
  padding-top: 3rem;
}

.is-rounded {
  border-radius: 2rem;
}

.columns {
  margin: 0;
}

#int-time,
#break-time {
  font-family: 'PT Mono', monospace;
}